@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Jost:wght@100;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Jost:wght@100;400;500;600;700&family=Mitr:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  /* background-color:antiquewhite; */
}

header {
  background-color: #383a49;
  padding: 1.5% 0;
}

.logoHeader {
  margin: 0% 7%;
  width: 30%;
  height: auto;
}

nav {
  background-color: #FFFFFF;
  filter: drop-shadow(0rem 0.3125rem 0.3125rem rgba(0, 0, 0, 0.35));
  position: sticky;
  z-index: 5;
  top: 0;
}

.navBar {
  margin: 0 4.5%;
  list-style-type: none;
  padding: 0.8% 0;
  
}

.navBar li {
  display: inline;
}

.navBar a {
  font-family: "Jost", sans-serif;
  font-size: 1.875rem;
  text-decoration: none;
  color: #383a49;
  padding: 0rem 2.5rem;
}

.navBar a:hover {
  font-size: 1.9rem;
  font-weight: 700;
}

.active {
  font-size: 1.9rem;
  font-weight: 700;
}

.default {
  font-weight: 450;
}

.carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  filter: drop-shadow(0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
}

.carouselInside {
  width: 500%;
  height: 100%;
  display: flex;
}

.carouselSlide {
  position: relative;
  width: 25%;
  height: 100%;
}

.carouselSlide img {
  width: 100%;
  height: auto;
}

.carouselInside {
  animation: carouselAnima 20s infinite;
}

@keyframes carouselAnima {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-20%);
  }

  40% {
    transform: translateX(-40%);
  }

  60% {
    transform: translateX(-60%);
  }

  80% {
    transform: translateX(-80%);
  }

  100% {
    transform: translateX(0);
  }
}

.Bestsellers{
  font-family: "Jost", sans-serif;
  font-size: 1.9rem;
  color: #383a49;
  font-weight: 700;
  padding: 3.4% 7%;
}

.ImgBox{
  display:inline-block;
  position: relative;
}

.productImg{
  display: flex;
  justify-content: space-between;
  margin: 0 6rem;
}

.ImgBox p{
  font-family: "Jost", sans-serif;
  font-size: 1.25rem;
  color: #383a49;
  font-weight: 600;
  margin-bottom: 2%;
}

.description {
  position: absolute;
  bottom: 12.5%;
  left: 0;
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.description .detailDesc{
  font-family: "Jost", sans-serif;
  font-size: 1.125rem;
  font-weight: 550;
  line-height: 0.7rem;
}

.description p{
  margin: 1rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: justify;
  line-height: 1.3rem;
}

.imgHover:hover .description {
  opacity: 1;
}

.imgHover:hover img {
  opacity: 0.7;
}


.slogan{
  font-family: 'Chewy', cursive;
  padding: 10% 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  font-weight: 400;
  color: #383a49;
}

.history{
  font-family: "Jost", sans-serif;
  font-size: 1.9rem;
  color: #383a49;
  font-weight: 700;
  padding: 6% 7%;
  background: linear-gradient(0deg, rgba(254, 195, 3, 0.63) 7.89%, rgba(254, 195, 3, 0) 102.23%);
}

.history p{
  font-family: "Mitr", sans-serif;
  font-size: 1.376rem;
  color: #383a49;
  font-weight: 400;
  text-align: justify;
}

.historyCont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.historyDesc{
  display: flex;
  flex-direction: column;
  margin-right: 3%;
  width: 100%;
}

.historyCont img {
  width: 80%;
  height: 80%;
}

.footerSect{
  background-color: #383a49;
  color: #F8F8F8;
  padding: 2rem 0;
}

.footer {
  margin: 2% 10%;
  justify-content: space-between;
}

.logoFooter{
  margin: 0 -0.5rem;
}

.footerCont{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.information,
.socialMed,
.newsletter {
  font-family: "Jost", sans-serif;
  font-size: 1.5625rem;
  font-weight: 600;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.infoList {
  list-style-type: none;
  padding: 0;
}

.infoList li {
  margin-bottom: 1rem;
}

.infoList li a {
  color: #F8F8F8;
  font-family: "Jost", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  text-decoration: none;
  position: relative;
}

.socialMedIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20%;
}

.socialMedIcons img {
  width: 2rem;
}

.newsCont{
  width: 25%;
}

.newsCont p {
  font-family: "Jost", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.newsForm {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
}

.newsForm .inputForm {
  position: relative;
  flex: 1;
}

.newsForm input {
  border-radius: 2rem;
  padding: 0.5rem;
  width: 90%;
  background-color: #F8F8F8;
  border-style: none;
}


.newsForm .arrowSubmit {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.trademark {
  font-family: "Jost", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
  margin-top: 1rem;
}

@media screen and (max-width: 768px){
  .Bestsellers{
    font-family: "Jost", sans-serif;
    font-size: 1.3rem;
    color: #383a49;
    font-weight: 700;
    padding: 3.4% 7%;
  }

  .ImgBox{
    display:inline-block;
    position: relative;
  }
  
  .productImg{
    display: flex;
    justify-content: space-between;
    margin: 0 3.5rem;
    gap: 2%;
  }

  .ImgBox p{
    font-family: "Jost", sans-serif;
    font-size: 1.25rem;
    color: #383a49;
    font-weight: 600;
    margin-bottom: 2%;
  }
  
  .description {
    position: absolute;
    bottom: 12.5%;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    z-index: 3;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .description .detailDesc{
    font-family: "Jost", sans-serif;
    font-size: 1.125rem;
    font-weight: 550;
    line-height: 0.7rem;
  }
  
  .description p{
    margin: 1rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    text-align: justify;
    line-height: 1.3rem;
  }
  
  .imgHover:hover .description {
    opacity: 1;
  }
  
  .imgHover:hover img {
    opacity: 0.7;
  }

  .slogan{
    font-family: 'Chewy', cursive;
    padding: 10% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 400;
    color: #383a49;
  }

  .history{
    font-family: "Jost", sans-serif;
    font-size: 1.3rem;
    color: #383a49;
    font-weight: 700;
    padding: 6% 7%;
    background: linear-gradient(0deg, rgba(254, 195, 3, 0.63) 7.89%, rgba(254, 195, 3, 0) 102.23%);
  }
  
  .history p{
    font-family: "Mitr", sans-serif;
    font-size: 0.9rem;
    color: #383a49;
    font-weight: 400;
    text-align: justify;
  }
  
  .historyCont {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .historyDesc{
    display: flex;
    flex-direction: column;
    margin-right: 3%;
    width: 100%;
  }
  
  .historyCont img {
    width: 50%;
    height: 50%;
  }
}